<!-- upload_documents.hbs -->
<title>Upload Documents</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{{!--
<link rel="stylesheet" href="styles.css"> --}}
<style>
    /* styles.css */

    body {
        font-family: Arial, sans-serif;
    }

    .container {
        margin-top: 50px;
    }

    #toast {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #09a833;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        display: none;

    }

    .hidden {
        display: none;
    }
</style>
</head>

<body>
    <div class="container">
        <h1>Upload Documents</h1>
        <form id="uploadForm">
            <div class="form-group">
                <label for="Employee_id">Employee ID:</label>
                <input type="text" class="form-control" id="Employee_id" name="Employee_id">
            </div>
            <div class="form-group">
                <label for="documentName">documentName:</label>
                <input type="text" class="form-control" id="documentName" name="documentName">
            </div>
            <div class="form-group">
                <label for="docs">Upload Documents:</label>
                <input type="file" class="form-control-file" id="docs" name="docs">
            </div>
            <button type="submit" class="btn btn-primary"><span class="mdi mdi-arrow-up-bold"></span> Upload</button>
        </form>
    </div>

    <div id="toast" class="hidden">document uploaded!</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.7.4"></script>
    <script>
         document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('uploadForm').addEventListener('submit', function (event) {
                event.preventDefault();
                var formData = new FormData(this);

                fetch('/docs/add', {
                    method: 'POST',
                    headers:{
                        "content-Type": "application/json"
                    },
                    body: JSON.stringify(formData)
                })
                    .then(response => {
                        debugger
                        if (!response.ok) {
                            throw new Error('Error uploading documents');
                        }
                        return response.json();
                    })
                    .then(data => {
                        debugger
                        console.log(data);
                        showToast('Documents uploaded successfully');
                        location.reload();
                    })
                    .catch(error => {
                        console.error('Error uploading documents:', error);
                        showToast('An error occurred while uploading documents');
                    });
            });
            showToast('hello from document')
        // Function to show toast notification
        function showToast(message) {
            debugger
            const toast = document.getElementById('toast');
            if (toast) {
                toast.textContent = message;
                toast.style.display = 'block';
                setTimeout(() => {
                    toast.style.display = 'none';
                }, 3000); // Hide after 3 seconds
            }
        }
         });
    </script>

</body>