<!-- upload_documents.hbs -->
<title>Upload Documents</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{{!--
<link rel="stylesheet" href="styles.css"> --}}
<style>
    /* styles.css */

    body {
        font-family: Arial, sans-serif;
    }

    .container {
        margin-top: 50px;
    }

</style>
</head>

<body>
    <div class="container">
        <h1>Upload Documents</h1>
        <form id="uploadForm">
            <div class="form-group">
                <label for="Employee_id">Employee ID:</label>
                <input type="text" class="form-control" id="Employee_id" name="Employee_id">
            </div>
            <div class="form-group">
                <label for="documentName">documentName:</label>
                <input type="text" class="form-control" id="documentName" name="documentName">
            </div>
            <div class="form-group">
                <label for="docs">Upload Documents:</label>
                <input type="file" class="form-control" id="docs" name="docs">
            </div>
            <button type="submit" class="btn btn-primary"><span class="mdi mdi-arrow-up-bold"></span> Upload</button>
        </form>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.7.4"></script>
    <script>
         document.addEventListener('DOMContentLoaded', function () {
          displayMessage('Documents','3000')
            document.getElementById('uploadForm').addEventListener('submit', function (event) {
                event.preventDefault();
                var formData = new FormData(this);
                

                fetch('/docs/add', {
                    method: 'POST',
                    
          body:formData
                })
                    .then(response => {
            debugger
            if (response.ok) {
              alert('Add successful');
              window.location.href = '/docs';
            } else {
              debugger
              response.json().then(data => {
                console.log(data);
                // Display an error message if login fails
                if (!data.success) {
                  debugger
                  alert(data.message);
                } else {
                  alert('An error occurred. Please try again later.');
                }
              }).catch(error => {
                debugger
                showToast('An error occurred. Please try again later.');
              });
            }
          })
          .catch(error => {
            debugger
            // Handle any errors that occur during the API request
            console.error('Error:', error);
            showToast('An error occurred. Please try again later.');
          });
            });
           // showToast('document added!')
      
         });
    </script>

</body>