<!DOCTYPE html>
<html lang="en">

<head>

  <style>
    /* CSS styles for the close button */


  </style>
</head>

<body>
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Leave Policies :</h3>
              <div class="table-responsive">
                <table class="table">
                  <thead>


                    <tr>
                      <th>id</th>
                      <th>Policy</th>
                      <th>Description</th>


                    </tr>
                  </thead>
                  <tbody>

                    {{#each data}}
                    <tr>


                      <td>{{this.id}}</td>
                      <td>{{this.policyName}}</td>
                      <td>{{this.description}}</td>



                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Bootstrap JS (jQuery and Popper.js are required too) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>