<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Styling the anchor tag to look like a button */
        #new_data {
            display: inline-block;
            padding: 5px 20px;
            /* Adjust padding as needed */
            background-color: #4CAF50;
            /* Button background color */
            color: white;
            /* Button text color */
            text-align: center;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            /* Rounded corners */
            cursor: pointer;
        }

        .delete_btn {
            background-color: #b30000;
            /* Red background */
            border: none;
            /* No border */
            color: white;
            /* White text */
            padding: 10px 20px;
            /* Padding */
            text-align: center;
            /* Center text */
            text-decoration: none;
            /* No underline */
            display: inline-block;
            /* Display as inline block */
            font-size: 16px;
            /* Font size */
            cursor: pointer;
            /* Cursor on hover */
            border-radius: 5px;
            /* Rounded corners */
            transition-duration: 0.4s;
            /* Transition duration */
        }

        #update_btn {
            background-color: #004080;
            /* Red background */
            border: none;
            /* No border */
            color: white;
            /* White text */
            padding: 10px 20px;
            /* Padding */
            text-align: center;
            /* Center text */
            text-decoration: none;
            /* No underline */
            display: inline-block;
            /* Display as inline block */
            font-size: 16px;
            /* Font size */
            cursor: pointer;
            /* Cursor on hover */
            border-radius: 5px;
            /* Rounded corners */
            transition-duration: 0.4s;
            /* Transition duration */
        }


        /* Styling the anchor tag when hovered */
        .new_data:hover {
            background-color: #45a049;
            /* Darker green */
        }


        /* CSS styles for the close button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }



        /* Additional custom styles */
        .popup-form {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 5px;
            z-index: 9999;
        }
    </style>
</head>

<body>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Holiday list </h3>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Name</th>
                                        <th>Related States</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each data}}
                                    <tr>
                                        <td>{{this.holidayDate}}</td>
                                        <td>{{this.holidayName}}</td>
                                        <td>{{this.state}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>